:root{
    --btn_color: #69663F;
    --bg_color: #444;
    --bgc_add: #3da2a8;
    font-size: calc(1vw + 0.2em);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 4px;
    background-color: var(--btn_color);
}

::-webkit-scrollbar-thumb{
    background: var(--bg_color);
    border-radius: 6px;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--bgc_add);
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 12em;
}

nav input{
    border-radius: 20px;
    width: 30em;
    height: 2em;
    border: none;
    padding: 0 10px;
}

nav input:focus{
    outline: none;
}

.basket{
    display: flex;
    align-items: center;
}

.basket i{
    font-size: 2em;
    transition: all ease-in-out 0.3s;
    color: #fff;
}

.basket i:hover{
    color: var(--btn_color);
}

.basket span{
    background-color: red;
    color: #fff;
    border-radius: 50%;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    transform: translateX(-7px);
    transition: all ease-in-out 0.2s;
}

.basket__window--item{
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(31, 30, 30, 0.863);
    z-index: 10;
    top: 0;
}

.goods--info{
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    padding: 20px 15px;
    overflow-y: scroll;
    height: 80%;
}

.goods--info > .span{
    width: 2em;
    height: 1px;
    background-color: rgb(99, 99, 99);
    position: relative;
    margin-left: auto;
    transform: rotate(45deg);
    margin-top: 1em;
    cursor: pointer;
}

.goods--info .span::before{
    content: "";
    width: 2em;
    height: 1px;
    background-color: rgb(99, 99, 99);
    position: absolute;
    transform: rotate(90deg);
}

.basket__window--item .line{
    width: 100%;
    height: 1px;
    background-color: black;

}

.total span > span{
    margin-left: 1em;
    font-weight: 600;
}

.total button{
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: none;
    background-color: var(--bgc_add);
    color: #fff;
    border: 1px solid var(--bgc_add);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.total button:focus{
    outline: none;
}

.total button:hover{
    border-radius: 20px;
}

.goods--info > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods--info > div + div{
    margin-top: 2em;
}

.good--info img{
    width: 8em;
}

.good--info{
    display: flex;
}

.good--info__name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.7em;
}

.good--info__name span{
    font-weight: 600;
}


.good--info__name span + span{
    color: rgb(148, 148, 148);
    font-weight: 400;
}

.basket--price__block{
    display: flex;
    align-items: center;
}

.basket--price__block span{
    margin-right: 1.5em;
}

.basket--price__block i{
    margin-right: 0.4em;
    font-size: 1.5em;
    transform: rotate(45deg);
    cursor: pointer;
    color: red;
}

.form__block{
    display: flex;
    flex-direction: column;
}

.form__block h3{
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.form__block form{
    display: flex;
    flex-direction: column;
}

.form__block form input{
    margin-top: 2.5em;
    border: none;
    border-bottom: 1px solid black;
    width: 20em;
    outline: none;
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.form__block form input:focus{
    padding-left: 15px;
}

.form__block button{
    margin-top: 4em;
    border-radius: 10px;
    border: none;
    background-color: var(--bgc_add);
    padding: 10px 0;
    width: 10em;
    color: #fff;
    align-self: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    outline: none;
}

.form__block button:hover{
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid var(--bgc_add);
    color: var(--bgc_add);
}

.order__list{
    display: none;
}

.search_block{   
    margin-top: 4em;
}

.search_block ul{
    list-style: none;
}

.search_block ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search_block ul li{
    margin-left: 3em;
    margin-top: 2em;
}

section{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    justify-content: center;
}

.catalog__card{
    min-width: 18em;
    background: url(/images/gallery1.jpg) center center / cover;
    height: 8em;
    margin-top: 1em;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    background-color:rgba(56,255,255,0.1);
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.first--course{
    background: url(../images/firstCourse.jpg) center center / cover;
}

.second--course{
    background: url(../images/secondCourse.jpg) center center / cover;
}

.salad{
    background: url(../images/salad.jpg) center center / cover;
}

.desert{
    background: url(../images/desert.jpg) center center / cover;
}

.drinks{
    background: url(../images/drinks.jpg) center center / cover;
}

.catalog__card:hover{
    opacity: 0.5;
}

.catalog__card span{
    color: #fff;
    margin-bottom: 1.5em;
    width: 100%;
    background-color: var(--bgc_add);
    opacity: 1;
    text-transform: uppercase;
}

.catalog__items{
    width: 80%;
    margin-left: 10%;
    margin-top: 5em;
}

.catalog__items ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog__items ul li{
    margin-left: 2em;
}

.popular{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    
}

.popular h3{
    font-size: 3em;
}

.popular__catalog{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5em;
}

.popular__card{
    display: flex;
    flex-direction: column;
    width: 18em;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    box-shadow: 1px 1px 20px 1px var(--btn_color);
    height: 24em;
}

.popular__card:hover{
    transform: translateY(-10px);
}

.popular__catalog ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.popular__catalog ul li{
    margin-left: 2em;
    margin-top: 1em;
}

.popular__card img{
    width: 100%;
}

.good--name{
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
}

.popular__card p{
    margin: 10px 10px;
}

.price--block{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.price--block span{
    font-weight: 600;
}

.plus{
    background-color: var(--bgc_add);
    border: 1px solid var(--bgc_add);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.plus:hover{
    transform: rotate(90deg);
}

.plus i{
    color: #fff;
}

.active-plus-btn{
    background-color: red;
    transform: rotate(45deg);
    border: none;
}

@media screen and (max-width: 670px){
    .header{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding-bottom: 5em;
    }

    nav img{
        width: 17em;
    }
    
    .basket{
        background-color: black;
        position: fixed;
        right: 0;
        top: 40%;
        background-color: var(--bgc_add);
        border-radius: 50%;
        width: 5em;
        height: 5em;
        display: flex;
        cursor: pointer;
    }

    .basket:hover span{
        transform: translateX(-15px);
        z-index: -1;
    }

    .basket i{
        margin-left: 25%;
    }

    .popular__card{
        height: 26em;
    }

    .popular__catalog ul li{
        margin-left: 3em;
        margin-top: 2em;
    }
}

@media screen and (max-width: 450px){
    nav input{
        width: 20em;
    }

    .catalog__card{
        width: 20em;
    }

    .catalog__card span{
        font-size: 1.5em;
    }

    .basket{
        height: 6em;
        width: 6em;
    }

    .basket i{
        font-size: 2.2em;
    }
}

@media screen and (max-width: 390px){
    .catalog__card + .catalog__card{
        margin-top: 2em;
    }
    
    .good--info img{
        width: 13em;
    }

    .good--info__name{
        font-size: 1.4em;
    }

    .basket--price__block span{
        font-size: 1.5em;
    }

    .basket--price__block i{
        font-size: 2.5em;
    }

    .total span{
        font-size: 1.4em;
    }

    .total button{
        font-size: 1.4em;
    }
}

