:root{
    --btn_color: #69663F;
    --bg_color: #444;
    --bgc_add: #3da2a8;
    font-size: calc(1vw + 0.2em);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3da2a8;
    z-index: 1;
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}

.loader span{
    color: #fff;
}

.done{
    opacity: 0;
    visibility: hidden;
}

.loader{
    height: 20em;
    width: 20em;
    position: absolute;
    top: calc(50% - 10em);
    left: calc(50% - 10em);
    text-align: center;
}

.loader img{
    width: 100%;
    animation: 2s appearance forwards;
}

@keyframes appearance {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header{
    width: 100%;
    height: 100vh;
    background: url(../images/main_bg1.jpg) center center / cover;
}

.logo{
    width: 12em;
}

nav img{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.nav__link a{
    margin-left: 1.2em;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    transition: ease-in 0.3s;
}

.nav__link a:hover{
    color: var(--bg_color)
}

.call_block{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.call_block span{
    color: #fff;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 2em;
}

.btn{
    padding: 1em 2em;
    background-color: var(--btn_color);
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    
}

.btn:focus{
    outline: none;
}

.btn:hover{
    color: var(--btn_color);
    background-color: #fff;
    border-radius: 50px;
}

.main_title{
    width: 80%;
    margin-left: 10%;
}

.main_title h2{
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 0.8em;
    color: #fff;
}

.main_title h4{
    color: #fff;
    margin-top: 0.2em;
    font-weight: 400;
}

.main_title button{
    margin-top: 3em;
    border: 1px solid var( --btn_color);
    background-color: #fff;
    color: var( --btn_color);
}

.main_title button a{
    color: var(--btn_color);
}

.main_title button:hover{
    border: 1px solid #fff;
    background-color: var( --btn_color);
}

.main_title button:hover a{
    color: #fff;
}

.about_us{
    width: 100%;
    height: 100vh;
    background: url(../images/aboutUs.jpg) center center / cover;
    display: flex;
}

.about_block{
    width: 25%;
    height: 100%;
}

.about_block1{
    box-shadow: 1px 1px 20px 1px var(--btn_color);
    width: 25%;
    height: 100%;
}

.about_block1:hover{
    box-shadow: 1px 1px 2px 1px var(--btn_color);
}

.about_block_intro{
    height: 70%;
    width: 70%;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px var(--btn_color);
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8em;
    text-align: center;
    color: var(--bg_color);
}

.about_block div{
    margin-left: auto;
    border-radius: 10px 0 0 10px;
}

.about_block1 div{
    margin-right: auto;
    border-radius: 0 10px 10px 0;
}

.about_block_intro h4{
    font-weight: 600;
    color: var(--bg_color);
    margin-bottom: 2em;
}

.about_block_intro img{
    width: 60%;
}

.our_facts{
    display: flex;
    background: url(/images/facts.jpg) center center / cover;
    width: 100%;
    height: 100vh;
}

.our_facts_blocks{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our_facts_blocks1{
    box-shadow: 1px 1px 20px 1px #444;
}

.our_facts_blocks1:hover{
    box-shadow: 1px 1px 2px 1px #444;
}

.our_facts_blocks img{
    width: 30%;
}

.our_facts_blocks span{
    color: #fff;
    font-size: 1em;
    margin: 1em 4em;
    font-weight: 600;
    text-shadow: 2px 2px 20px #000;
}

.menu{
    width: 100%;
    height: 100vh;
    background: url(/images/menu.jpg) center center / cover;
}

.menu_block{
    background-color: #fff;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    opacity: 0.9;
    box-shadow: 1px 1px 2px 1px #444;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menu_title{
    margin-top: 1em;
    font-size: 2em;
}

.menu_block img{
    width: 3.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.menu_lists{
    display: flex;
    width: 70%;
    justify-content: space-between;
    color: var(--bg_color);
}

.menu_list{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.menu_list_elem{
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gallery{
    width: 100%;
    display: flex;
    height: 100vh;
}

.gallery_block{
    flex-basis: 25%;
    height: 100%;
    transition: all 0.2s;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_block span{
    font-size: 3em;
    font-weight: 600;
    text-shadow: 0 0 20px #000;
}

.gallery_block:hover{
    flex-basis: 50%;
}

.gallery_block1{
    background: url(/images/gallery1.jpg) center center / cover;
}

.gallery_block2{
    background: url(/images/gallery2.jpg) center center / cover;
}

.gallery_block3{
    background: url(/images/gallery3.jpg) center center / cover;
}

.gallery_block4{
    background: url(/images/gallery4.jpg) center center / cover;
}

.contacts{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.layer-1{
    position: absolute;
    width: 105%;
    height: 100%;
    background: url(/images/contact.jpg) center center / cover;
    top: 0;
    left: -5%;
}

.layer-2{
    background: url(/icons/phone.png) center center / cover;
    width: 40%;
    height: 90%;
    position: absolute;
}

footer{
    background: url(/images/footer_bg.jpg) center center / cover;
    width: 100%;
    box-shadow: inset 1px 1px 10px 1px #000;;
}

.footer__block{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 1px 1px 20px 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 10em;
}

.footer__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer__contacts div{
    display: flex;
    align-items: center;
    color: #fff;
}

.footer__contacts div span{
    margin-left: 0.4em;
}

.footer__contacts div span a{
    color: #fff;
    transition: all 0.2s;
}

.footer__contacts div span a:hover{
    text-decoration: underline;
}


.footer__contacts img{
    width: 1em;
}

.social{
    margin-top: 2em;
    margin-bottom: 1em;
}

.social img{
    width: 2em;
}

.social a + a{
    margin-left: 2em;
}




@media screen and (max-width: 900px){
    .nav__link{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 3;
    justify-content: center;
    transition: ease-out 0.4s;
    }

    .nav__link__active{
        left: 0;
    }

    .nav__link a{
        font-size: 2.5em;
        margin-top: 1em;
    }

    .nav__link a:hover{
        color: var(--btn_color);
    }

    .call_block{
        display: none;
    }

    .menu_btn{
        position: relative;
        width: 4em;
        height: 4em;
        z-index: 3;
        background-color: #fff;
        border-radius: 50%;
    }

    .menu_btn:hover{
        cursor: pointer;
    }

    .burger{
        width: 2em;
        background-color: var(--bgc_add);
        top:50%; margin-top: -1px;
        left: 50%; margin-left: -1em;
        height: 2px;
        position: absolute;
        z-index: 3;
    }

    .burger::after,
    .burger::before{
        content: " ";
        height: 2px;
        background-color: var(--bgc_add);
        position: absolute;
        transition: ease-in 0.5s;
    }

    .burger::before{
        transform: translateY(-0.6em);
        width: 2em;
    }

    .burger::after{
       transform: translateY(0.6em);
       width: 2em;
    }

    .burger__active::after{
        transform: rotate(35deg);
        transform-origin: left bottom;
        width: 1em;
        background-color: var(--bg_color);
    }

    .burger__active::before{
        transform: rotate(-35deg);
        transform-origin: left top;
        width: 1em;
        background-color: var(--bg_color);
    }

    .burger__active{
        background-color: var(--bg_color);
    }

    .logo{
        width: 15em;
    }
    
}

@media screen and (max-width: 780px){
    .logo{
        width: 20em;
    }

    .about_us{
        height: 70vh;
    }

    .our_facts{
        height: 70vh;
    }

    .menu{
        height: 70vh;
    }

    .gallery{
        height: 70vh;
    }

    footer img{
        width: 15em;
    }

    .footer__contacts{
        flex-direction: column;
    }

    .footer__contacts div + div{
        margin-top: 1em;
    }

    .footer__contacts span{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px){
    .about_us{
        height: 60vh;
    }

    .our_facts{
        height: 60vh;
    }

    .menu{
        height: 60vh;
    }

    .gallery{
        height: 60vh;
    }

    .menu_btn{
        width: 4.5em;
        height: 4.5em;
    }

    .logo{
        width: 25em;
    }

    .main_title h2{
        font-size: 5rem;
    }

    .main_title h4{
        font-size: 1.7rem;
        max-width: 18em;
    }

    .layer-2{
        height: 65%;
    
    }

    .about_block, .about_block1{
        width: 50%;
    }

    .about_block_adaptive{
        display: none;
    }
}

@media screen and (max-width: 490px){
    .about_block_intro{
        padding: 3.5em;
    }

    .main_title button{
        background-color: var(--btn_color);

        border: 1px solid #fff
    }

    .main_title button a{
        color: #fff;
    }

    .main_title button:hover{
        border: 1px solid var( --btn_color);
        background-color: #fff;
    }

    .main_title button a:hover{
        color: var( --btn_color);
    }

    .menu_block{
        width: 66%;
        margin-left: 17%;
    }

    .gallery{
        flex-direction: column;
        height: 100vh;
    }

    .layer-2{
        height: 50%;
        width: 50%;
    }

    .footer__block{
        width: 70%;
        margin-left: 15%;
    }

    footer img{
        width: 20em;
    }

    .footer__contacts{
        margin-top: -1em;
    }

    .footer__contacts div span{
        font-size: 2em;
    }

    .footer__contacts img{
        width: 1.7em;
    }

    .social{
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .social img{
        width: 3.5em;
    }

    .social a + a{
        margin-left: 5em;
    }
}